@font-face {
    font-family: 'SpaceMonoRegular';
    src: url('/assests/fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'SpaceMonoBold';
    src: url('/assests/fonts/SpaceMono-Bold.ttf');
}

:root {
    /* Colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/* CSS RESET - Thanks https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Sets the body default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;

    background-color: var(--light-grayish-cyan);
    font-family: 'SpaceMonoRegular', Verdana, Geneva, Tahoma, sans-serif;
}

/* Utility classes */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* Typography */
.title {
    color: var(--dark-grayish-cyan);
    margin-bottom: 0.5em;
}

button,
input,
.result-text {
    font-size: 1.1rem;
    font-family: 'SpaceMonoBold', Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border: 1px solid transparent;
    border-radius: 10px;
    padding-block: 0.25em;

    cursor: pointer;
}

input {
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input::placeholder {
    color: var(--grayish-cyan);
}

/* Layout */
section div {
    margin-bottom: 1em;
}

.container,
.header-img img {
    margin: 0 auto;
}

.container {
    max-width: clamp(320px, 100%, 480px);
}

.header {
    padding-block: 2em;

    height: 15vh;
}

.main {
    background-color: var(--white);
    border-radius: 10px 10px 0 0;
    padding: 1em 2em;

    height: 85vh;
}

.custom,
.input-wrapper {
    border-radius: 5px;
}

.input-wrapper {
    background-color: var(--very-light-grayish-cyan);
    padding: 0.25em 0.5em;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.input-wrapper input {
    margin-left: auto;
    background-color: transparent;
}

.input-wrapper input,
.custom {
    border: none;
    color: var(--very-dark-cyan);
}

.btn-wrapper {
    grid-template-columns: repeat(2, minmax(5rem, 9rem));
    gap: 1rem;
    justify-content: center;
}

.tip-btn {
    background-color: var(--very-dark-cyan);
    color: var(--white);
}

.custom {
    background-color: var(--very-light-grayish-cyan);
    padding: 0 0.5em;
}

#people-qty:focus-visible,
#bill:focus-visible {
    outline: none;
}

.results {
    background-color: var(--very-dark-cyan);
    padding: 2em 1em 1em;
    border-radius: 10px;
}

.result-title {
    color: var(--white);
    font-size: 0.9rem;
}

.title-span {
    color: var(--grayish-cyan);
    font-size: 0.75em;
    display: block;
}

.result-text {
    color: var(--strong-cyan);
    font-size: 1.5rem;
    margin-left: auto;
    align-self: end;
}

.reset-btn {
    width: 100%;
    padding-block: 0.5em;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

.reset-btn:hover {
    background-color: var(--light-grayish-cyan);
}

.people .title {
    display: inline-block;
}

.modal {
    float: right;
    color: red;
    display: none;
}

/* Active states */
.selected {
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

.inp-active {
    outline: 2px solid var(--strong-cyan);
}

.warning {
    outline: 2px solid red;
}

@media (min-width: 600px) {
    body {
        height: 100vh;

        display: grid;
        place-items: center;
    }

    .container {
        max-width: clamp(481px, 90%, 992px);
    }

    .header {
        margin-bottom: 2em;
        height: auto;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        max-height: 55vh;
        margin: 0 auto;
        border-radius: 10px;
        padding-block: 2.5em;
    }

    .btn-wrapper {
        grid-template-columns: repeat(3, minmax(4rem, 9rem));
    }

    .results {
        display: grid;
    }

    .result-text {
        align-self: unset;
    }

    .reset {
        align-self: end;
    }
}

@media (min-width: 768px) {
    button,
    input,
    .result-text {
        font-size: 1.3rem;
    }

    .icon {
        width: 20px;
    }

    .main {
        width: 85%;
        height: auto;
    }
}
